.Header {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
}
